In [1]:
#Normalization is a technique often applied as part of data preparation for ML. The goal of normalization is to change the values of numeric columns in the dataset to use a common scale, w/o distorting d/fnces in the ranges of values or losing information.
# 1) MinMaxScaling 
# 2) Mean Normalization 
# 3) MaxAbsolute scaling 
# 4) Robust Scaling

In [ ]:
# 1) MinMax Scaling 
# e.g. Weight(xi) => x1, x2, x3, x4,.............., xn
# MinMaxScaling => (xi)new = [xi - (x)min]/[(x)max - (x)min]

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df = pd.read_csv("wine_data.csv")
df.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [8]:
df = pd.read_csv('wine_data.csv', header=None, usecols=[0,1,2])
df.columns = ['Class label', 'Alcohol', 'Malic Acid']
df.head()

   Class label  Alcohol  Malic Acid
0            1    14.23        1.71
1            1    13.20        1.78
2            1    13.16        2.36
3            1    14.37        1.95
4            1    13.24        2.59

In [9]:
x = df.drop(columns=['Class label'])
y = df['Class label']

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [12]:
x_train.shape

(124, 2)

In [13]:
x_test.shape

(54, 2)

In [11]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()

In [14]:
mms.fit(x_train)
x_train_scaled = mms.transform(x_train)
x_test_scaled = mms.transform(x_test)

In [15]:
x_train_scaled = pd.DataFrame(x_train_scaled, columns=x_train.columns)
x_test_scaled = pd.DataFrame(x_test_scaled, columns=x_test.columns)

In [17]:
x_train_scaled.head()

    Alcohol  Malic Acid
0  0.647368    0.549898
1  0.389474    0.171079
2  0.342105    0.020367
3  0.592105    0.152749
4  0.331579    0.395112

In [18]:
np.round(x_train.describe(),2)

       Alcohol  Malic Acid
count   124.00      124.00
mean     12.96        2.40
std       0.84        1.10
min      11.03        0.89
25%      12.29        1.64
50%      12.94        1.90
75%      13.70        3.17
max      14.83        5.80

In [19]:
np.round(x_train_scaled.describe(), 2)

       Alcohol  Malic Acid
count   124.00      124.00
mean      0.51        0.31
std       0.22        0.22
min       0.00        0.00
25%       0.33        0.15
50%       0.50        0.21
75%       0.70        0.46
max       1.00        1.00

In [20]:
# Mean Normalization 
# (x)new = [xi - (x)mean]/[(x)max - (x)min]

In [21]:
# MaxAbsolute Scaling 
# (x)new = xi/|(x)max|
# useful in sparse data (if the no. of zeros in ur data is more)

In [24]:
# Robust Scaling 
#(x)new = [xi - (x)median]/IQR{(75th percentile value) - (25th percentile value)}
# robust to outliers.